@model DepositWithdrawViewModel
<h2>Deposit Funds</h2>
<form asp-action="DepositFunds" method="post" class="card">
    <label>Account Id</label><input asp-for="AccountId" />
    <label>Amount</label><input asp-for="Amount" />
    <button type="submit">Deposit</button>
</form>
